table,
th,
tr,
td {
    border: 5px solid gray;
    border-collapse: collapse;
    border-radius: 2px;
    padding: 20px;
    margin: 20px;
    font-weight: bold;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#e66465, #9198e5);
    opacity: 0.5;
}